<p>SWAP2CASH</p><br>
<p>The buyer has just purchased your token and has confirmed the transfer.</p>
<p> Please check the transaction and confirm with the system that the money has been received</p>
<p>Click <a href="{{appDomain}}p2p/sell/{{id}}">here</a> to see purchase detail</p>
