<p>SWAP2CASH</p><br>
<p>The seller who you bought token and confirmed payment has been disabled by admin.</p>
<p> Please check pending purchase in <a href="{{appDomain}}profile?tab=order">Here</a> and filter pending purchase for more detail.</p>
<p>You must provide the proof that you have transferred money for seller to unlock token or contact with admin for more information</p>
